body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px 0px 0px 0px;
}

header {
  background-color: black;
  padding: 0px 0px 10px 0px;
  margin-bottom: 0px;
}

h1 {
  font-size: 65px;
  font-weight: normal;
  margin: 13px 0px 17px 0px;
}

h2 {
  font-size: 42px;
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  background-color: black;
  padding: 8px 18px 10px 15px;
  word-spacing: 30px;
}

a {
  color: white;
  text-decoration: none;
}

#contact {
  font-size: 25px;
}

#education{
  font-size: 16px;
  font-family: sans-serif;
}
#experience {
  font-size: 16px;
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  font-size: 16px;
}

strong {
  text-shadow: 1px 1px #BDBDBD;
}

#everything {
  width: 960px;
  margin: 0px auto;
}
