body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px 0px 0px 0px;
}

header {
  background-color: black;
  padding: 0px 0px 10px 0px;
  margin-bottom: 0px;
}

h1 {
  font-size: 65px;
  font-weight: normal;
  margin: 13px 0px 17px 0px;
}

h2 {
  font-size: 42px;
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  background-color: black;
  padding: 8px 18px 10px 15px;
  word-spacing: 30px;
}

a {
  color: white;
  text-decoration: none;
  font-family: 'Alegreya Sans', sans-serif;
}

#contact {
  font-size: 25px;
}

#education{
  font-size: 16px;
  font-family: sans-serif;
}

#experience {
  font-size: 16px;
  font-family: sans-serif;
  border-top: 1px solid #BDBDBD;
}

p {
  font-family: sans-serif;
  font-size: 16px;
}

strong {
  text-shadow: 1px 1px #BDBDBD;
}

#everything {
  width: 960px;
  margin: 0px auto;
}

#ugh a:link{
  color: black;
  font-family: sans-serif;
 }
#ugh a:visited{
  color: black;
  font-family: sans-serif;
}
#ugh a:hover{
  color: black;
  font-family: sans-serif;
}
#ugh a:active{
  color: black;
  font-family: sans-serif;
}

#organizations{
  font-size: 16px;
  font-family: sans-serif;
  border-top: 1px solid #BDBDBD;
}

b{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
}

#work {
    width: 722px;
    margin: 0px auto;
    float: left;
}
